body {
    background-color:#d9d9d9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

canvas {
    /* box-shadow: 1px 1px 4px; */
    background-color:#2b261d;
    /* background-color: #ac7e2d; */
}

button, input, textarea {
  border-width: 5px;
  border-radius: 0;
  border-style: solid;
  background: none;
  margin: .5em;
  font-size: 1em;
}

button {
  height: 2.5em;
}

button:disabled {
  background: none;
  background-color: #0000;
  border-style: dotted;
}

button:hover:not(:disabled) {
  background-color: #e79b18;
  cursor: pointer;
}

div#point-options {
  border-width: 5px;
  border-style: solid;
  padding-bottom: 10px;
  padding-top: 10px;
  display: none;
}

div#point-options > input {
  max-width: 100px;
}

button#simulate-chamber:not(:disabled) {
  background-color:rgb(130, 226, 130);
}

button#delete-chamber:not(:disabled) {
  background-color:rgb(249, 122, 122);
}
button#delete-pin:not(:disabled) {
  background-color:rgb(249, 122, 122);
}
button#reset:not(:disabled) {
  background-color:rgb(249, 122, 122);
}

footer {
  padding-top: 5%;
  font-size: .8em;
}

.monospace {
  font-family:'Courier New', Courier, monospace;
}