body {
    background-color:#d9d9d9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

canvas {
    /* box-shadow: 1px 1px 4px; */
    background-color:#2b261d;
    /* background-color: #ac7e2d; */
}

button, input, textarea {
  border-width: 5px;
  border-radius: 0;
  border-style: solid;
  background: none;
  margin: .5em;
  font-size: 1em;
}

button {
  height: 2.5em;
}

button:disabled {
  background: none;
  border-style: dotted;
}